<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码</title>
<style type="text/css">
.getpwd{ text-align:center; line-height:2em; font-size:13px; margin:20px 0; padding:0;padding-top:40px;  font-family:"微软雅黑"}
</style>
</head>

<body>
<div class="getpwd">
请在移动端操作
<br>
<img src="{__PW_PATH__}api/qrcode/index.php?data={urlencode(format_url(U(MOD,'getpwd')))}">
<br>
扫一扫找回密码
</div>
</body>
</html>
