<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<title>会员中心</title>
<link href="{__TLP__}css/i.css" type="text/css" rel="stylesheet" />

<script language="javascript" type="text/javascript">
	var PW_PATH='{__PW_PATH__}';
</script>
<script src="{__PW_PATH__}statics/jquery/jquery-1.12.2.min.js" language="javascript"></script>
<script src="{__PW_PATH__}statics/core.js" language="javascript"></script>

</head>

<body>
{tlp header}
<div class="common-width" style="overflow:auto;">
	<div class="left-nav">
		<ul>
			<li class="hover"><a href="{U(MOD,'i')}">账号管理</a></li>
			<li><a href="{U(MOD,'myaddress')}">我的地址</a></li>
		</ul>
	</div>
	<div class="right-nav">
		<h1>账号管理</h1>
		<div class="desc">您当前的余额<span class="green">￥{$PW['memberlogin']['amount']}</span>元，积分<span class="red">{$PW['memberlogin']['credits']}</span>分</div>
		<table class="tablecss" cellpadding="1" cellspacing="1">
			{if $PW['memberlogin']['telephone']}
			<tr>
				<td width="15%">手机号码： </td>
				<td>{$PW['memberlogin']['telephone']}</td>
			</tr>
			{/if}
			{if $PW['memberlogin']['email']}
			<tr>
				<td width="15%">邮箱： </td>
				<td>{$PW['memberlogin']['email']}</td>
			</tr>
			{/if}
			{if $PW['memberlogin']['openid']}
			<tr>
				<td width="15%">微信OpenID： </td>
				<td>{$PW['memberlogin']['openid']}</td>
			</tr>
			{/if}
			<tr>
				<td>登录密码： </td>
				<td> ********** <a href="{U(MOD,'account')}">修改密码</a></td>
			</tr>
			<tr>
				<td>上次登录： </td>
				<td> {if $PW['memberlogin']['logintime']}{date('Y-m-d H:i:s',$PW['memberlogin']['logintime'])}{else}{date('Y-m-d H:i:s',$PW['memberlogin']['regtime'])}{/if} <a href="{U(MOD,'mylogin')}">我的登录历史</a></td>
			</tr>
		</table>
	</div>
</div>

{tlp footer}
</body>
</html>
