<?php
use phpWeChat\Member;
?>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<title>会员中心</title>
<link href="{__TLP__}css/i.css" type="text/css" rel="stylesheet" />

<script language="javascript" type="text/javascript">
	var PW_PATH='{__PW_PATH__}';
</script>
<script src="{__PW_PATH__}statics/jquery/jquery-1.12.2.min.js" language="javascript"></script>
<script src="{__PW_PATH__}statics/core.js" language="javascript"></script>
<script language="javascript" type="text/javascript">
	$(document).ready(function(){
		
	});
</script>
</head>

<body>
{tlp header}
<div class="common-width" style="overflow:auto;">
	<div class="left-nav">
		<ul>
			<li class="hover"><a href="{U(MOD,'i')}">账号管理</a></li>
			<li><a href="{U(MOD,'myaddress')}">我的地址</a></li>
		</ul>
	</div>
	<div class="right-nav">
		<h1>我的积分</h1>
		<div class="desc">您当前的余额<span class="green">￥{$PW['memberlogin']['amount']}</span>元，积分<span class="red">{$PW['memberlogin']['credits']}</span>分</div>
		{if $data}
		<table class="table-list-css" cellpadding="1" cellspacing="1">
			<tr>
				<th>积分变动时间</th>
				<th>积分变动数量</th>
				<th>详情	</th>
			</tr>
			{loop $data $r}
			<tr>
				<td>{date('Y-m-d H:i:s',$r['creditstime'])}</td>
				<td>{php echo $r['inc']>0?'<font style="color:#009933;">增加</font>':'<font style="color:#FF3300;">减少</font>';} <font style="color:#009933; font-weight:bold">{$r['credits']}</font> 积分</td>
				<td>{$r['desc']}</td>
			</tr>
			{/loop}
		</table>
		<div class="page">
			<div class="wrap">
				{Member::$mPageString}
			</div>
		</div>
		{else}
		<h2>暂无积分变动记录</h2>
		{/if}
	</div>
</div>

{tlp footer}
</body>
</html>
