<div id="loading" style=" display: none;">
	<div class="weui-mask_transparent"></div>
	<div class="weui-toast">
		<i class="weui-loading weui-icon_toast"></i>
		<p class="weui-toast__content">数据加载中</p>
	</div>
</div>
<div class="weui-footer weui-footer_fixed-bottom">
	<p class="weui-footer__text">Copyright © {date('Y')} Powered by phpWeChat</p>
</div>
<script src="{__PW_PATH__}statics/weui/zepto.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="{__PW_PATH__}statics/weui/weui-extend.js"></script>